.detailsContainer{
    display: grid;
    align-items: center;
    width: 82rem;
    border: 2px solid grey;
    border-width: thin;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.detailsTitle{
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.334;
    letter-spacing: 0em;
    margin-bottom: 0.35em;
}

.detailsDescription{
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1.0rem;
    line-height: 1.334;
    letter-spacing: 0em;
    margin-bottom: 0.35em;
}

.detailsPrice{
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    color: rgba(0, 0, 0, 0.6);
}
 
.detailsCategory{
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.334;
    letter-spacing: 0em;
    margin-bottom: 0.35em;
}

.detailsImgContainer{
    display: flex;
    height: 20rem;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}