.SPContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .approvedImgContainer{
        size-adjust: auto;
    }

    .SPproductContainer {
        display: flex;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        
        .SPproduct {
          display: flex;
          align-items: center;
          flex: 3;

          span {
            color: #9f9f9f;
            margin-left: 10px;
          }
        }
        .SPproductQuantity{
          color: #4d4d4dcc;
          margin-left: 10px;
        }

        .SPproductSubtotal {
          color: #9f9f9f;
          flex: 2;
        }
    }
}

@media screen and (max-width: 600px) {
  
          .infoCartContainer{
            align-items: center;
          }
}