
   .container {
    width: 200px;
	height: 200px;
	background-color: transparent ;
    box-shadow: 2px 1px 1px 1px rgba(0,0,0,0.2);
	
   }
   img {
     border-radius: 50%;
	 height: 50px;
	 width: 50px;
	 float: left;
   }
   .time {
     float: right;
   }
   .messagesUser {
      background-color: #cccccc;
	  border-radius: 5px;
      padding: 10px;
      margin: 10px 0;
	  
   }
   .messagesBot {
      background-color: #eeeeee;
	  border-color: #dddddd;
	  border-radius: 5px;
      padding: 10px;
      margin: 10px 0;
	  
   }
   .messagesUser:after, .messagesBot:after{
      content: "";
      clear: both;
      display: table;
   }
   h2 {
      text-align: center;
   } 
