.container {
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 30;
  transition: all 0.3s ease;
  width: 100%;

  .wrapper {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;

    .left {
      flex: 1;
      display: flex;
      align-items: center;
    }
    .center {
      flex: 1;
      display: flex;
      justify-content: center;

      img {
        padding: 5px;
        height: 60px;
        width: 60px;
      }

      .logoBrand {
        width: 80px;
        height: 80px;
      }
    }
    .right {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .menuItem {
        cursor: pointer;
        font-size: 16px;
        margin: 20px;
        text-decoration: none;
        color: black;
      }

      .cartItem {
        position: relative;

        .cartCounter {
          position: absolute;
          background-color: red;
          border-radius: 100%;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          top: -10px;
          left: 15px;

          span {
            font-size: 14px;
            color: #fff;
          }
        }
      }
    }
  }
}

// Clase auxiliares
.backgroundWhite {
  background-color: #fff;
}

// Clases Carrito Drawer
.cartDrawerContainer {
  .cartDrawerTitle {
    border-bottom: 1px solid #ccc;
    padding: 20px;

    h3 {
      font-weight: 400;
    }
  }

  .cartDrawerBody {
    margin: 20px;
    height: 700px;

    .favItem {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      justify-content: space-between;
      border-radius: 4px;
      box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
        0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
      background-color: #fff;
    }

    .cartItem {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      justify-content: space-between;

      .cartInfoContainer {
        display: flex;

        .cartItemTitle {
          margin-left: 5px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
      }
    }
  }

  .cartFooterContainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    .subtotalContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      width: 100%;
      padding: 10px 0px;
      margin: 10px 0px;
    }
  }
}

@media screen and (max-width: 600px) {
  .cartDrawerBody {
    height: 600px !important;
  }

  .container {
    .left {
      .btnLogout,
      .btnDashboard {
        display: none;
      }

      .btnLogin {
        display: none;
      }
    }

    .wrapper {
      .right {
        #home,
        #products {
          display: none;
        }
      }
    }
  }
}
